* {
    box-sizing: border-box;
}

.app  {
    margin-left: 20px;
}

.main {
    margin-top: 15px;
}

.main--countryinfo {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.main--infoitem {
    display: flex;
    flex-direction: row;
}

.main--infodescr {
    width: 100px;
}